/* Estilos para o cabeçalho */
header {
  /* background-color: #111; */
  background-color: #ff4655;
  color: #fff;
  padding: 20px;
  text-align: center;
  /* font-family: DINNextW1G,arial,georgia,sans-serif; */
}

#logoriot {
  display: inline-block;
  vertical-align: middle;
  fill: #fff;
}

#logotexto {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  fill: #fff;
}

.divlogovalorant {
   background-color: #f0f0f0;
   color: #fff;
}

p {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}


body {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #292929;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Tungsten-Bold,arial,georgia,sans-serif;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para as seções */
section {
  padding: 0px;

}

/* Estilos para o rodapé */
footer {
  background-color: #bf0b0b;
  color: #fff;
  padding: 10px;
  text-align: center;
}
